body  {
    background-image: url("images/background.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: none;
}
h1  {
    text-align: left;
}

#job-title {
    text-align: center;
}
.contact {
    text-align: left;
}

header {
    padding-top: 50px;
}
img {
    margin: center;

}